<!DOCTYPE html>
<html>
<head>
<title>Online Shopping</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
  <header id="header">
  <br>
    <div id="title"<h1>Online Shopping Catalog</h1></div>
	<div id =log_detail><span>Logged in as {{log}}</span></div>

  </header>
<main class="container">
<div id="additemlogo"><h1> New Item </h1></div>
<div id="addform">
<form action="{{url_for('addItem', category_id=category_id )}}" method = 'POST' class="w3-container">

<label class="w3-text-red"><h5><b>Name</b></h5></label>
<input class="w3-input" type='text'  name='name' required>
<label class="w3-text-red"><h5><b>Brief Description</b></h5></label>
<input class="w3-input" type='text' size='30' name='description' required>
<label class="w3-text-red"><h5><b>Price</b></h5></label>
<input class="w3-input" type='text'  name='price' required>
<label class="w3-text-red"><h5><b>Item State</b></h5></label>
  <input class="w3-radio" type="radio" name='item_state' value="New" checked> New<br>
  <input class="w3-radio" type="radio" name='item_state' value="Used"> Used<br>
<br>  
<button class="w3-btn w3-blue-grey">Add</button>

</form>
</div>
	
</main>
{% if log_type == 1 %}
	<div id="log_out"><a href='{{ url_for('gdisconnect') }}' class="log_outbtn">Google Logout</a></div>
{% endif %}
{% if log_type == 2 %}	
	<div id="fblog_outbtn"><a href='{{ url_for('fbdisconnect') }}' class="log_outbtn">Facebook Logout</a></div>
{% endif %}
	<div id="backhome"><a href='{{ url_for('homePage') }}' class="homebtn">Back to home</a></div>
</body>
</html>


