<!DOCTYPE html>
<html>
<head>
<title>Online Shopping</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
  <header id="header">
  <br>
    <div id="title"<h1>Online Shopping Catalog</h1></div>
	<div id =log_detail><span>Logged in as {{log}}</span></div>
  </header>
<main class="itemdetails_container">
<div id="del">
<h2>&nbsp; Are you sure you want to delete {{item.name}}? </h2>
</div>
<div id="deleteform">
<form action="{{ url_for('deleteItem', item_id=item_id, category_id = category_id)}}" method = 'post'>

<button class="w3-btn w3-red">Delete</button>

</form>
</div>
<div id="cancel"><a href = "{{ url_for('showitemDetails',item_id=item_id, category_id = category_id)}}" class="w3-btn w3-blue"> Cancel </a></div>
</main>
{% if log_type == 1 %}
	<div id="log_out"><a href='{{ url_for('gdisconnect') }}' class="log_outbtn">Google Logout</a></div>
{% endif %}
{% if log_type == 2 %}	
	<div id="fblog_outbtn"><a href='{{ url_for('fbdisconnect') }}' class="log_outbtn">Facebook Logout</a></div>
{% endif %}
</body>
</html>







