body{
	background-color:#c9c9cd;
}
.categories{
	margin-left:2%;

	
	margin-top:-1%;
	top:-15%;
}
#category_list{
	margin-top:-17%;
}
a.categories_link{
	color:red;
	text-decoration: none;
	font-size:130%;
}
.items{
	margin-left:3%;

	margin-top:-1%;
}
.items_page{
	margin-left:3%;
	width:20%;
	margin-top:1.5%;
}
.publicitems_page{
	margin-left:3%;
	width:20%;
	margin-top:-1%;

}
#item_list{
	margin-top:-11%;

}

a.items_link{
	color:blue;
	text-decoration: none;
	font-size:120%;
}
#header{
	background-color:#23075c;
	margin-top:-0.5%;
	margin-left:-0.59%;
	width:101.2%;
}
#glogin{
	margin-left:75%;
}
#title{
	color:white;
	margin-left:13%;
	font-size:230%;
	font-family: Lucida Console;

}
.container{
	background-color:white;
	width:70%;
	margin-left:15%;
	margin-top:2%;
	border-style: solid;
    border-width: 1px 1px 1px 1px;
	display: flex;
}
.containerhome{
	background-color:white;
	width:70%;
	margin-left:15%;
	margin-top:2%;
	border-style: solid;
    border-width: 1px 1px 1px 1px;
	display: flex;
}
.vl {
    border-left: 2px solid #c9c9cd;
	margin-left:5.5%;
	color:#c9c9cd;

}
.vll {
    border-left: 2px solid #c9c9cd;
	margin-left:5.5%;
	color:#c9c9cd;

}
h1{
	font-size:135%;
		
}
#log_detail{
	margin-left:65%;
	font-size:130%;
	color:white;
}
#addstyle{
	height:20%;
	margin-top:1%;
	margin-left:-21%;
}
a.loginbtn{
	color:white;
	text-decoration: none;
	font-size:160%;
}
#logdiv{
	margin-left:75%;

}
#glogin{
	margin-left:2%;
	margin-top:9%;
}
#loglogo{
	color:blue;
	font-size:0.8em;
	margin-left:2%;
}
#log_out{
	margin-left:80%;
	
}
#fblog_outbtn{
	margin-left:80%;
}
#fbbutton{
	margin-top:9%;
	margin-left:2%;
}
a.log_outbtn{
	color:red;
	text-decoration: none;
	font-size:120%;
}
#emptyitems{
	color:blue;
}
#additemlogo{
	margin-left:2%;
	color:blue;
}
#addform{
	margin-top:6%;
}
.itemdetails_container{
	background-color:white;
	width:70%;
	margin-left:15%;
	margin-top:2%;
	border-style: solid;
    border-width: 1px 1px 1px 1px;
}
.itemdetail{
	margin-left:16%;
	color:red;
}
#intenaldetailcontiner{
	margin-left:3%;
}
a.modify_btn{
	text-decoration:none;
	color:blue;
	font-size:120%;
}
#modifyitems{
	margin-left:43%;
}
#deleteform{
	margin-left:12%;
	display:inline-block;
}
#cancel{
	display:inline-block;
	margin-left:2%;

}
#cenceledit{
	display:inline-block;
}
#editbn{
	display:inline-block;

}
#backhome{
	margin-left:16%;
	margin-top:-1.7%;
}
a.homebtn{
	text-decoration:none;
	color:blue;
	font-size:120%;	
}
#backhomeitems{
	margin-top:0.3%;
		margin-left:16%;
}
@media screen and (max-width:1274px){
#title{
	font-size:200%;
}		
}
@media screen and (max-width:1110px){
#title{
	font-size:170%;
}
#log_detail{
	font-size:110%;
}
}
@media screen and (max-width:600px){
	#log_detail{
	font-size:55%;

}
}
@media screen and (max-width:360px){
#title{
	font-size:130%;

}
#log_detail{
	font-size:62%;

}
.items{
	display:none;
}
.vl {

display:none;
}
#categmedia{

	font-size:110%;
}
#category_list{

	font-size:85%;
}
h3{
	font-size:60%;
}
.containerhome{
	margin-top:8%;
	width:35%;
}
#addstyle{
	font-size:80%;
}
a.items_link{

	font-size:100%;
}
#addform{
	margin-left:-8%;
}
}