<!DOCTYPE html>
<html>
<head>
<title>Online Shopping</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
  <header id="header">
  <br>
    <div id="title"<h1>Online Shopping Catalog</h1></div>
	<div id =log_detail><span>Not Logged in</span></div>
  </header>
<main class="itemdetails_container">
<div id="intenaldetailcontiner">
<label class="w3-text-blue"><h3><b>Name :</b></h3></label>
<div class="itemdetail"><h4>{{item.name}}</h4></div>
<label class="w3-text-blue"><h3><b>Description :</b></h3></label>
<div class="itemdetail"><h4>{{item.description}}</h4></div>
<label class="w3-text-blue"><h3><b>Price :</b></h3></label>
<div class="itemdetail"><h4>{{item.price}}</h4></div>
<label class="w3-text-blue"><h3><b>State :</b></h3></label>
<div class="itemdetail"><h4>{{item.item_state}}</h4></div>
</div>	
</main>
<div id="backhomeitems"><a href='{{ url_for('homePage') }}' class="homebtn">Back to home</a></div>
</body>
</html>







